<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="../formTemplate.xhtml">
        <ui:define name="form_title">
            <h:outputStylesheet library="css" name="ecpregistry.css" />
            <div id="crfheader">
                <h3>Extracorporeal Photopheresis (ECP) for the Management of Progressive Bronchiolitis Obliterans Syndrome (BOS) in Medicare-Eligible Recipients of Lung Allografts</h3>
                <h2>CHANGE IN THERAPY DURING THE STUDY - Case Report Form (CRF)</h2>
                <div>
                    <h2><center><h:outputText value="#{controller.selectedForm.title}" /></center></h2>
                </div>
            </div>
            <div>
                <p style="width: 750px; font-size: medium; color: red; font-weight: bold">
                    The information listed in this Change in Therapy form has been pre-populated from information contained in either the Baseline Therapy form or the previous Change in Therapy form.  Please review all items and update for medications that have changed. Then submit the form.
                </p>
            </div>
            <ui:insert name="sourceDocumentsRequired" />
        </ui:define>
        
        <ui:define name="form_content">
            <h:panelGroup id="changeOfTherapyForm" >
                <div id="crfcenterparticipantidsdate">
                    <div>
                    <b>Change in Therapy Date: </b>
                    <p:calendar id="changeTherapyDate" class="calendar" value="#{controller.changeTherapyForm.changeTherapyDate}" requiredMessage="#{msgs.changeTherapyDate}" disabled="#{controller.changeTherapyForm.locked}" mode="popup" showOn="button" pattern="MM/dd/yyyy" navigator="true" size="10" converter="strictDateTimeConverter" >
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        <p:ajax event="dateSelect" update="@form" process="@form" /> 
                    </p:calendar>
                    </div>
                </div>

                <p:message for="changeTherapyDate" />
                <br/>

                <div class="question-inputText-immunodrug">
                    <b>1. Check all immunosuppressive drugs that are <u>currently being used</u> by the participant: </b>
                </div>
                <div class="answer-radioButton">
                    <h:panelGrid columns="5" >
                        <h:selectOneRadio id="tacrolimus" class="yesnoanswers" requiredMessage="#{msgs.tacrolimusCurrent}" value="#{controller.changeTherapyForm.tacrolimusCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Tacrolimus" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio id="tacrolimusDosage" value="#{controller.changeTherapyForm.tacrolimusCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.tacrolimusCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="tacrolimus" />

                <!-- Used only before version 7, insert does not need to be filled in for later versions -->
                <ui:insert name="prednisoneInTable" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="alemtuzumab" class="yesnoanswers" requiredMessage="#{msgs.alemtuzumabCurrent}" value="#{controller.changeTherapyForm.alemtuzumabCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Alemtuzumab" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.alemtuzumabCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.alemtuzumabCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="alemtuzumab" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="sirolimus" class="yesnoanswers" requiredMessage="#{msgs.sirolimusCurrent}" value="#{controller.changeTherapyForm.sirolimusCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Sirolimus (Rapamycin)" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.sirolimusCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.sirolimusCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="sirolimus" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="everolimus" class="yesnoanswers" requiredMessage="#{msgs.everolimusCurrent}" value="#{controller.changeTherapyForm.everolimusCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Everolimus" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.everolimusCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.everolimusCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="everolimus" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="azathioprine" class="yesnoanswers" requiredMessage="#{msgs.azathioprineCurrent}" value="#{controller.changeTherapyForm.azathioprineCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Azathioprine" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.azathioprineCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.azathioprineCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="azathioprine" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="cyclosporineA" class="yesnoanswers" requiredMessage="#{msgs.cyclosporineACurrent}" value="#{controller.changeTherapyForm.cyclosporineACurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Cyclosporine A" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.cyclosporineACurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.cyclosporineACurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="cyclosporineA" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="methotrexate" class="yesnoanswers" requiredMessage="#{msgs.methotrexateCurrent}" value="#{controller.changeTherapyForm.methotrexateCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Methotrexate" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.methotrexateCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.methotrexateCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="methotrexate" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="macrolideAntibiotic" class="yesnoanswers" requiredMessage="#{msgs.macrolideAntibioticCurrent}" value="#{controller.changeTherapyForm.macrolideAntibioticCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Macrolide Antibiotic, Azithromycin" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.macrolideAntibioticCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.macrolideAntibioticCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="macrolideAntibiotic" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="mycophenolateMofetil" class="yesnoanswers" requiredMessage="#{msgs.mycophenolateMofetilCurrent}" value="#{controller.changeTherapyForm.mycophenolateMofetilCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Mycophenolate Mofetil (Cellcept or Myfortic)" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.mycophenolateMofetilCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.mycophenolateMofetilCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="mycophenolateMofetil" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="antiThymocyteGlobulin" class="yesnoanswers" requiredMessage="#{msgs.antiThymocyteGlobulinCurrent}" value="#{controller.changeTherapyForm.antiThymocyteGlobulinCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Anti-Thymocyte Globulin - ATG (Thymoglobulin or Atgam)" />

                        <h:outputLabel value="Dosage: " style="margin-left:10px;" />
                        <h:selectOneRadio value="#{controller.changeTherapyForm.antiThymocyteGlobulinCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.antiThymocyteGlobulinCurrent == false}" style="margin-left:10px; width: 360px;">
                            <f:selectItem itemValue="increased" itemLabel="Increased"/>
                            <f:selectItem itemValue="decreased" itemLabel="Decreased" /> 
                            <f:selectItem itemValue="nochange" itemLabel="No Change" /> 
                        </h:selectOneRadio>
                    </h:panelGrid>

                </div>
                <p:message for="antiThymocyteGlobulin" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="2" >
                        <h:selectOneRadio id="ques1m" class="yesnoanswers" requiredMessage="#{msgs.totalLymphoidIrradiationCurrent}" value="#{controller.changeTherapyForm.totalLymphoidIrradiationCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions" value="Total Lymphoid Irradiation" />
                    </h:panelGrid>
                </div>
                <p:message for="ques1m" />

                <div class="answer-radioButton">
                    <h:panelGrid columns="4" >
                        <h:selectOneRadio id="otherDrugs" class="yesnoanswers" value="#{controller.changeTherapyForm.otherDrugsCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions2" value="Other Drug(s)" />
                    </h:panelGrid>
                </div>
                <div>
                    <h:panelGrid style="margin-left:203px; width: 450px;">
                        <h:outputLabel style="font-weight: bold; border: 0px solid black;" value="If YES for Other Drug(s), please provide the drug name(s) and whether the dosage went up or down: " />
                    </h:panelGrid>
                    <h:panelGrid >
                        <h:inputTextarea style="margin-left:203px;" value="#{controller.changeTherapyForm.otherDrugNamesCurrent}" cols="60" rows="2" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.otherDrugsCurrent == false}"/>
                    </h:panelGrid>
                </div>

                <!-- Used only in version 7 and later, insert does not need to be filled in for earlier versions -->
                <ui:insert name="prednisoneOutsideTable" />

                <div class="treatment-parameters">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="treatment-parameters-questions" value="#{anticoagQuesNumber}. Is the participant taking an anticoagulant drug?" />
                        <h:selectOneRadio id="ques2anticoagulants" class="yesnoanswers" requiredMessage="#{msgs.onAntiCoagulant}" value="#{controller.changeTherapyForm.onAntiCoagulant}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <div class="question-inputText-other">
                    <b>If yes, list drugs: </b><br/>
                    Name anticoagulant 1: <h:inputText id="ques2anticoag1" value="#{controller.changeTherapyForm.antiCoagulantName1}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiCoagulant == false}" /><br/><br/>
                    Name anticoagulant 2: <h:inputText id="ques2anticoag2" value="#{controller.changeTherapyForm.antiCoagulantName2}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiCoagulant == false}" /><br/><br/>
                    Name anticoagulant 3: <h:inputText id="ques2anticoag3" value="#{controller.changeTherapyForm.antiCoagulantName3}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiCoagulant == false}" /><br/>
                </div>
                <p:message for="ques2anticoagulants" />

                <div class="treatment-parameters">
                    <h:panelGrid columns="3" >
                        <h:outputLabel class="treatment-parameters-questions" value="#{plateletQuesNumber}. Is the participant taking an anti-platelet drug?" />
                        <h:selectOneRadio id="ques3antiplatelets" class="yesnoanswers" requiredMessage="#{msgs.onAntiPlatelet}" value="#{controller.changeTherapyForm.onAntiPlatelet}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <div class="question-inputText-other">
                    <b>If yes, list drugs: </b><br/>
                    Name anti-platelet 1: <h:inputText id="ques2antiplat1" value="#{controller.changeTherapyForm.antiPlateletName1}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiPlatelet == false}" /><br/><br/>
                    Name anti-platelet 2: <h:inputText id="ques2antiplat2" value="#{controller.changeTherapyForm.antiPlateletName2}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiPlatelet == false}" /><br/><br/>
                    Name anti-platelet 3: <h:inputText id="ques2antiplat3" value="#{controller.changeTherapyForm.antiPlateletName3}" size="30" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.onAntiPlatelet == false}" /><br/>
                </div>
                <p:message for="ques3antiplatelets" />


                <div class="treatment-parameters">
                    <h:panelGrid columns="2" >
                        <h:outputLabel class="treatment-parameters-questions" value="#{ecpDiscontinuedQuesNumber}. Has ECP therapy been discontinued? " />
                        <h:selectOneRadio id="ques4ecpdiscontinued" class="" requiredMessage="#{msgs.ecpTreatmentDiscontinued}" value="#{controller.changeTherapyForm.ecpTherapyDiscontinued}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:selectItem itemValue="na" itemLabel="Not Applicable" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />
                        </h:selectOneRadio>
                    </h:panelGrid>
                </div>
                <p:message for="ques4ecpdiscontinued" />
                 <div class="change-therapy-ques4-indent">
                    <b>a. If yes, date of discontinuation </b>
                    <p:calendar class="calendar" value="#{controller.changeTherapyForm.ecpTherapyDiscontinuedDate}" mode="popup" showOn="button" showButtonPanel="false" pattern="MM/dd/yyyy" navigator="true" size="10" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.ecpTherapyDiscontinued == false}"  converter="strictDateTimeConverter"/>
                </div>
               <div class="change-therapy-ques4-indent">
                    <b>b. If yes, reason for discontinuation: </b>
                    <h:inputTextarea id="ques4ecpdiscontinuedreason" value="#{controller.changeTherapyForm.ecpTherapyDiscontinuedReason}" rows="2" cols="80" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.ecpTherapyDiscontinued == false}" />
                </div>


                <div class="question-radioButton">
                    <b>#{commentsQuesNumber}. Comments: </b>
                    <h:inputTextarea value="#{controller.changeTherapyForm.comment}" rows="2" cols="80" disabled="#{controller.changeTherapyForm.commentLocked}" style="margin-left: 17px;" />
                </div>

            </h:panelGroup>

            
        </ui:define>
    </ui:composition>

</html>
