<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="./template/changeTherapyFormTemplate.xhtml">
        <ui:param name="anticoagQuesNumber" value="2" />
        <ui:param name="plateletQuesNumber" value="3" />
        <ui:param name="ecpDiscontinuedQuesNumber" value="4" />
        <ui:param name="commentsQuesNumber" value="5" />

        <ui:define name="prednisoneInTable">
            <div class="answer-radioButton">
                    <h:panelGrid columns="5" >
                        <h:selectOneRadio id="prednisone" class="yesnoanswers" requiredMessage="#{msgs.prednisoneCurrent}" value="#{controller.changeTherapyForm.prednisoneCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                            <f:selectItem itemValue="true" itemLabel="YES"/>
                            <f:selectItem itemValue="false" itemLabel="NO" /> 
                            <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                            <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                        </h:selectOneRadio>
                        <h:outputLabel class="yesno-questions-prednizone" value="Prednisone" />
                        <b>If yes, enter daily dose: </b>
                        <h:inputText id="prednisoneDosage" value="#{controller.changeTherapyForm.prednisoneCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.prednisoneCurrent == false}" size="4" validatorMessage="Validation Error: Prednisone dose ranges between 0 and 150 mg.">
                            <f:validateLongRange minimum="0" maximum ="150"/>
                        </h:inputText>
                        <b> mg (input range: 0-150)</b>
                    </h:panelGrid>
                </div>
                <p:message for="prednisoneDosage" />

                <p:message for="prednisone" />
        </ui:define>
    </ui:composition>

</html>
