<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:composition template="./template/changeTherapyFormTemplate.xhtml">
        <ui:param name="anticoagQuesNumber" value="3" />
        <ui:param name="plateletQuesNumber" value="4" />
        <ui:param name="ecpDiscontinuedQuesNumber" value="5" />
        <ui:param name="commentsQuesNumber" value="6" />
        
        <ui:define name="sourceDocumentsRequired">
            <div>
                <h2>Please include the following types of source documents:</h2>
                <div>
                <b>1. Clinical Note or Medication Record Form</b>
                </div>
            </div>
        </ui:define>
        
        <ui:define name="prednisoneOutsideTable">
            <div class="treatment-parameters">
                <h:panelGrid columns="2" >
                    <h:outputLabel class="treatment-parameters-questions" value="2. Is the patient taking prednisone?" />
                    <h:selectOneRadio id="ques1bprednisone" class="yesnoanswers" requiredMessage="#{msgs.prednisoneCurrent}" value="#{controller.changeTherapyForm.prednisoneCurrent}" disabled="#{controller.changeTherapyForm.locked}" style="display: inline-table;">
                        <f:selectItem itemValue="true" itemLabel="YES"/>
                        <f:selectItem itemValue="false" itemLabel="NO" /> 
                        <f:ajax execute="changeOfTherapyForm" render="@form" listener="#{controller.clearChangeTherapyDrugDosageIfNoListener}" />
                        <f:validateRequired disabled="#{!param['VALIDATE']}" />  <!-- The value for the param variable VALIDATE is determined in the formTemplate.xhtml file under c:if test -->
                    </h:selectOneRadio>
                </h:panelGrid>
            </div>
            <div class="question-inputText-other">
                <b>A. If yes, enter daily dose: </b>
                <h:inputText id="ques1bDose" value="#{controller.changeTherapyForm.prednisoneCurrentDosage}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.prednisoneCurrent == false}" size="4" validatorMessage="Validation Error: Prednisone dose ranges between 0 and 150 mg.">
                    <f:validateLongRange minimum="0" maximum ="150"/>
                </h:inputText>
                <b> mg (input range: 0-150)</b>
                <p:message for="ques1bDose" />
            </div>
            <div class="question-inputText-other">
                <b>B. Number of changes in dose: </b>
                <h:inputText id="ques1cDose" value="#{controller.changeTherapyForm.prednisoneDosageChanges}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.prednisoneCurrent == false}" size="4" validatorMessage="Validation Error: Prednisone dose changes cannot be less than 0.">
                    <f:validateLongRange minimum="0" />
                    <f:ajax execute="changeOfTherapyForm" render="@form" />
                </h:inputText>
                <p:message for="ques1cDose" />
            </div>
            <div class="question-inputText-other">
                <b>C. If dose changed, dose range: </b><br/>
                Lowest Dose: <h:inputText id="ques1dDose" value="#{controller.changeTherapyForm.prednisoneLowestDose}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.prednisoneCurrent == false || controller.changeTherapyForm.prednisoneDosageChanges == null || controller.changeTherapyForm.prednisoneDosageChanges == 0}" size="4" validatorMessage="Validation Error: Prednisone dose ranges between 0 and 150 mg.">
                    <f:validateLongRange minimum="0" maximum ="150" />
                </h:inputText>
                mg (input range: 0-150)<br/>
                <br/>Highest Dose: <h:inputText id="ques1eDose" value="#{controller.changeTherapyForm.prednisoneHighestDose}" disabled="#{controller.changeTherapyForm.locked || controller.changeTherapyForm.prednisoneCurrent == false || controller.changeTherapyForm.prednisoneDosageChanges == null || controller.changeTherapyForm.prednisoneDosageChanges == 0}" size="4" validatorMessage="Validation Error: Prednisone dose ranges between 0 and 150 mg.">
                    <f:validateLongRange minimum="0" maximum ="150" />
                </h:inputText>
                mg (input range: 0-150)
                <p:message for="ques1dDose" />
            </div>
            <p:message for="ques1bprednisone" />
        </ui:define>
    </ui:composition>

</html>
