<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Key Contacts</title>
    </h:head>
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <h1><font size="6">Key Contacts</font></h1>

            <p style="font-size: medium;">
                <h2 class="keyContact">Senior Study Leadership</h2>
            </p>
            
            <table style="width: 1000px;">
                <col width="150"></col>
                <tr>
                    <td  class="keyContact-title">CCC Staff Members and Contact Information</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Principal Investigator</td>
                </tr>
                <tr>
                    <td class="keyContact-name">George Despotis, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Associate Professor of Pathology, Immunology, and Anesthesiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Pathology and Immunology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)362-6586</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: despotisg@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Lead Academic Investigator</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Ramsey Hachem, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Pulmonary and Critical Care Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Internal Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)454-8766</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: rhachem@dom.wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">Biostatistician</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Edward Spitznagel, PhD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Mathematics</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Department of Mathematics</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)935-6745</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: ed@wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-title">ARO Director, CCC</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Suresh Vedantham, MD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology and Surgery</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)362-2923</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: vedanthams@mir.wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
<!--                <tr>
                    <td class="keyContact-title">ARO Co-Director, DCC</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Pred Prior, PhD</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)747-0331</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: priorf@mir.wustl.edu</td>
                </tr>
-->
             </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            
            <p style="font-size: medium;">
                <h2 class="keyContact">Clinical Coordinating Center (CCC)</h2>
            </p>
            <p style="font-size: medium;">
                The Clinical Coordinating Center (CCC), a component of the Washington University ARO, is the primary coordination <br/>
                and communication hub for the study and will monitor and support the activities at the Clinical Centers.  General <br/>
                mailings, faxes, and other communications to the CCC can be directed to this address:<br/>
            </p>
            <table style="width: 1000px;">
                <col width="150"></col>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>ECP Registry Clinical Coordinating Center</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>660 S. Euclid Ave., Box 8131</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>St. Louis, MO  63110</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Office Phone: (314)747-2372</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Fax: (314)747-1944</td>
                </tr>
            </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            

            <table style="width: 1000px;">
                <col width="150"></col>
                <col width="150"></col>
                <tr>
                    <td  class="keyContact-title">Director, Clinical Coordinating Center</td>
                    <td  class="keyContact-title">Contact Information</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Suresh Vedantham, MD</td>
                    <td class="keyContact-font-align">Office Phone: (314)362-2923</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology and Surgery</td>
                    <td>Pager: (314)836-1613</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                    <td>Cell Phone: (314)283-8846</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                    <td>vedanthams@mir.wustl.edu</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td  class="keyContact-title">CCC Staff Members and Contact Information</td>
                    <td  class="keyContact-title">Responsible Areas</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Mary Clare Derfler, RN, MSN</td>
                    <td class="keyContact-font-align">Study protocol questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Clinical Research Nurse Coordinator</td>
                    <td>Serious adverse event reporting</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)747-2372</td>
                    <td>Clinical issue with study patient</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: derflerm@mir.wustl.edu</td>
                    <td>Patient eligibility questions</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Help Desk</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>CRF Verification Questions</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Kathy Taylor</td>
                    <td class="keyContact-font-align">Clinical center start-up</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Clinical Research Coordinator</td>
                    <td>Regulatory documents</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)747-1653</td>
                    <td>Data submission questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: taylork@mir.wustl.edu</td>
                    <td>Updates to contact information</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Help Desk</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td></td>
                    <td>CRF Verification Questions</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Daniel Santacruz</td>
                    <td class="keyContact-font-align">Financial and contract issues</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Special Project Administrator</td>
                    <td>General Administrative Issues</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)747-2498</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: santacrusd@mir.wustl.edu</td>
                    <td></td>
                </tr>
             </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
<!--    
            <p style="font-size: medium;">
                <h2 class="keyContact">Data Coordinating Center (DCC)</h2>
            </p>
            <p style="font-size: medium;">
                The Data Coordinating Center (DCC), a component of the Washington University ARO, is based at the <br/>
                Electronic Radiology Laboratory (ERL) at the Mallinckrodt Institute of Radiology.  The DCC will <br/>
                centrally coordinate the study's data management.  Contact information and responsibility areas <br/>
                for key DCC personnel are provided below. <br/>
            </p>
            <table style="width: 970px;">
                <col width="150"></col>
                <col width="150"></col>
                <tr>
                    <td  class="keyContact-title">Director, Data Coordinating Center</td>
                    <td  class="keyContact-title">Contact Information</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Fred Prior, PhD</td>
                    <td class="keyContact-font-align">Office Phone: (314)747-0331</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Professor of Radiology</td>
                    <td>priorf@mir.wustl.edu</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Mallinckrodt Institute of Radiology</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Washington University School of Medicine</td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td  class="keyContact-title">DCC Staff Members and Contact Information</td>
                    <td  class="keyContact-title">Responsible Areas</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Paul K. Commean</td>
                    <td class="keyContact-font-align">DCC Project Manager</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>ERL Project Manager</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)362-8497</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: commeanp@mir.wustl.edu</td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">David Maffitt</td>
                    <td class="keyContact-font-align">Distribution of Usernames/Passwords</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>ERL Analyst</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)362-1476</td>
                    <td></td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: maffittd@mir.wustl.edu</td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Joan Moulton</td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Technical Coordinator and Help Desk Manager</td>
                    <td>Help Desk Manager</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)362-7185</td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: moultonj@mir.wustl.edu</td>
                    <td>CRF Verification Questions</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="keyContact-name">Mary Wolfsberger</td>
                    <td class="keyContact-font-align">Technical Coordinator</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Technical Coordinator and Help Desk Manager</td>
                    <td>Help Desk Manager</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>Phone: (314)362-7194</td>
                    <td>Case Report Form (CRF) Questions</td>
                </tr>
                <tr class="keyContact-font-align">
                    <td>email: wolfsbergerm@mir.wustl.edu</td>
                    <td>CRF Verification Questions</td>
                </tr>
             </table>
-->
 <!--                <link rel="cononical" href="#???{controller.registryLoginAction()}" />
                <h:commandButton value="Check Eligibility" action="/calc/eligibilityForm.xhtml" />
                <h:commandButton value="Registry" action="#?????{controller.registryLoginAction()}" /> -->

        </ui:define>
    </ui:composition>

</html>