<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            
            <h:panelGrid rendered="#{calcController.enrollmentEligible}">
                <h1 style="color:red; font-size:24px;">Enrollment Determination Results</h1>
                <h2>This patient is now ENROLLED into the Study.</h2>

                <h:panelGrid rendered="#{calcController.ecpTreatmentArmEligible}">
                    <h1 style="color:red; font-size:24px;">Study Arm Eligibility Results</h1>
                    <h2>This patient is assigned to the "ECP Treatment Arm".  Please follow the</h2>
                    <h2>Protocol's treatment and evaluation procedures for ECP Treatment Arm participants.</h2>
                    <p>
                        <h:outputText value="Rate of lung function decline (Slope) = #{calcController.slope} ml / month"/>
                        <h:outputText value="Statistically significant rate of decline (P-Value less than 0.05) = #{calcController.PValue}"/>
                        <h:outputText value="Last FEV1 value = #{calcController.lastFev} ml"/>
                    </p>
                    <h2>This patient's participant identification number is ${calcController.participantID}.</h2>

                    <p style="width: 850px; font-size: large; color: red; font-weight: bold">Please make a NOTE of your patient's participant 
                            identification number: ${calcController.participantID}, because all interaction with the  
                            Washington University Academic Research Organization (ARO) concerning this participant will use this identifier.
                    </p>
                    <p style="width: 850px; font-size: large; color: red; font-weight: bold">
                        <u>Important and Time-Sensitive:</u> Please PRINT this subject's Confirmation of Eligibility (COE) Form, have an 
                        authorized physician investigator sign and date the COE form, and scan and upload the signed COE form along with 
                        the other Source Documents listed at the top of the COE Form.  Per <a href="ecpRegistryProtocol.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>, submission of this signed 
                        COE Form with DCC Verification is required before ECP or any study-related invasive procedure (e.g. central venous catheter placement) may be performed.
                    </p>
                    <h:form >
                        <h:commandButton value="Go to the COE Form to Print" action="#{controller.registryLoginAction()}" />
                    </h:form>

                </h:panelGrid>

                <h:panelGrid  rendered="#{calcController.observationalArmEligible}">
                    <h1 style="color:red; font-size:24px;">Study Arm Assignment Results</h1>
                    <h2>This patient is assigned to the "Observational Arm".  This patient is not currently</h2>
                    <h2>eligible to receive ECP because the rate (slope) of FEV1 decline does not meet</h2>
                    <h2>the study Protocol's threshold to qualify to receive ECP (see <a href="ecpRegistryProtocol.xhtml#section3-6" target="_blank">Protocol Section 3.6</a>).</h2>
                    <p>
                        Eligibility failed on the following criterion:
                        <h:outputText value="#{calcController.rule}"/>
                    </p>
                    <p>
                        <h:outputText value="Rate of lung function decline (Slope) = #{calcController.slope} ml / month"/>
                        <h:outputText value="Statistically significant rate of decline (P-Value less than 0.05) = #{calcController.PValue}"/>
                        <h:outputText value="Last FEV1 value = #{calcController.lastFev} ml"/>
                    </p>
                    <h2>This patient's participant identification number is ${calcController.participantID}.</h2>

                    <p style="width: 850px; font-size: large; color: red; font-weight: bold">Please make a NOTE of your patient's participant 
                            identification number: ${calcController.participantID}, because all interaction with the  
                            Washington University Academic Research Organization (ARO) concerning this participant will use this identifier.
                    </p>
                    <p style="width: 850px; font-size: large; color: red; font-weight: bold">Please follow the Protocol’s treatment and evaluation 
                        procedures for Observation Arm patients, and enter all subsequent clinically obtained FEV-1 values into the Observation 
                        Pulmonary Evaluations Log.  If your patient exhibits further decline and you wish him/her to receive ECP, you may enter 
                        up to 4 additional FEV-1 values (spaced at least one week apart) into the Observation Pulmonary Evaluations Log and request 
                        a re-assessment of whether he/she has become eligible for the ECP Treatment Arm, per <a href="ecpRegistryProtocol.xhtml#section3-6" target="_blank">Protocol Section 3.6</a>.  Please contact 
                        your CCC nurse coordinator if you have questions.
                    </p>
                    <p style="width: 850px; font-size: large; color: red; font-weight: bold">
                        <u>Important and Time-Sensitive:</u> Please PRINT this subject's Confirmation of Eligibility (COE) Form, have an 
                        authorized physician investigator sign and date the COE form, and scan and upload the signed COE form along with 
                        the other Source Documents listed at the top of the COE Form.  Per <a href="ecpRegistryProtocol.xhtml#section3-7" target="_blank">Protocol Section 3.7</a>, submission of this signed 
                        COE Form is required.
                    </p>
                    <h:form >
                        <h:commandButton value="Go to the COE Form to Print" action="#{controller.registryLoginAction()}" />
                    </h:form>

                </h:panelGrid>
<!--
                <h:form >
                    <h:panelGrid columns="2">
                        <h:commandButton value="Enroll Patient..." action="# {calcController.enrollParticipantIntoECPStudyAction}" />
                        <h:commandButton value="Cancel" action="# {calcController.cancelCalculationAction()}" />
                    </h:panelGrid>
                </h:form>
 -->
            </h:panelGrid>
            
            
            


            <h:panelGrid  rendered="#{calcController.notEnrollmentEligible}">
                <h1 style="color:red; font-size:24px;">Enrollment Determination Results</h1>
                <h2>This patient is NOT eligible for enrolling into the study currently,</h2>
                <h2>based on their answers to the inclusion and exclusion criteria.</h2>
                <p>
<!--                    Eligibility failed on the following criterion:  -->
<!--                    <h:outputText value="# {calcController.rule}"/>  -->
                </p>
                <p>
<!--                    <h:outputText value="index = # {calcController.notEnrollmentEligible} "/>  -->
                </p>
                <h:form >
                    <h:panelGrid columns="2">
                        <h:commandButton value="Cancel" action="#{calcController.cancelCalculationAction()}" />
                    </h:panelGrid>
                </h:form>
            </h:panelGrid>
            

        </ui:define>
    </ui:composition>
    
</html>
