<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Support Staff</title>
    </h:head>
    
    <ui:composition template="/template/template.xhtml">
        <ui:define name="body">
            <h:outputStylesheet library="css" name="ecpregistry.css" />

            <h1><font size="6">Support Staff</font></h1>

            <p style="font-size: medium;">
                <h2 class="keyContact">Clinical Coordinating Center (CCC)</h2>
            </p>
            <p style="font-size: medium;">
                The Clinical Coordinating Center (CCC), a component of the Washington University ARO, is the primary coordination <br/>
                and communication hub for the study and will monitor and support the activities at the Clinical Centers.
            </p>
                <table style="width: 1000px;">
                    <col width="150"></col>
                    <col width="150"></col>
                    <tr>
                        <td  class="keyContact-title">CCC Staff Members and Contact Information</td>
                        <td  class="keyContact-title">Responsible Areas</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="keyContact-name">Mary Clare Derfler, RN, MSN</td>
                        <td class="keyContact-font-align">Study protocol questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Clinical Research Nurse Coordinator</td>
                        <td>Serious adverse event reporting</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Phone: (314)747-2372</td>
                        <td>Clinical issue with study patient</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>email: derflerm@mir.wustl.edu</td>
                        <td>Patient eligibility questions</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="keyContact-font-align">Technical Coordinator</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>Help Desk</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>Case Report Form (CRF) Questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>CRF Verification Questions</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="keyContact-name">Kathy Taylor</td>
                        <td class="keyContact-font-align">Clinical center start-up</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Clinical Research Coordinator</td>
                        <td>Regulatory documents</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Phone: (314)747-1653</td>
                        <td>Data submission questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>email: taylork@mir.wustl.edu</td>
                        <td>Updates to contact information</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="keyContact-font-align">Technical Coordinator</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>Help Desk</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>Case Report Form (CRF) Questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td></td>
                        <td>CRF Verification Questions</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="keyContact-name">Daniel Santacruz</td>
                        <td class="keyContact-font-align">Financial and contract issues</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Special Project Administrator</td>
                        <td>General Administrative Issues</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Phone: (314)747-2498</td>
                        <td></td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>email: santacrusd@mir.wustl.edu</td>
                        <td></td>
                    </tr>
                 </table>
            
            <div>&nbsp;</div>
            <div>&nbsp;</div>
<!--            
            <p style="font-size: medium;">
                <h2 class="keyContact">Data Coordinating Center (DCC)</h2>
            </p>
            <p style="font-size: medium;">
                The Data Coordinating Center (DCC), a component of the Washington University ARO, is based at the <br/>
                Electronic Radiology Laboratory (ERL) at the Mallinckrodt Institute of Radiology.  The DCC will <br/>
                centrally coordinate the study's data management.
            </p>
                <table style="width: 970px;">
                    <col width="150"></col>
                    <col width="150"></col>
                    <tr>
                        <td  class="keyContact-title">DCC Staff Members and Contact Information</td>
                        <td  class="keyContact-title">Responsible Areas</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="keyContact-name">Joan Moulton</td>
                        <td class="keyContact-font-align">Technical Coordinator</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Technical Coordinator and Help Desk Manager</td>
                        <td>Help Desk Manager</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Phone: (314)362-7185</td>
                        <td>Case Report Form (CRF) Questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>email: moultonj@mir.wustl.edu</td>
                        <td>CRF Verification Questions</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="keyContact-name">Mary Wolfsberger</td>
                        <td class="keyContact-font-align">Technical Coordinator</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Technical Coordinator and Help Desk Manager</td>
                        <td>Help Desk Manager</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>Phone: (314)362-7194</td>
                        <td>Case Report Form (CRF) Questions</td>
                    </tr>
                    <tr class="keyContact-font-align">
                        <td>email: wolfsbergerm@mir.wustl.edu</td>
                        <td>CRF Verification Questions</td>
                    </tr>
                 </table>
-->
 <!--                <link rel="cononical" href="#???{controller.registryLoginAction()}" />
                <h:commandButton value="Check Eligibility" action="/calc/eligibilityForm.xhtml" />
                <h:commandButton value="Registry" action="#?????{controller.registryLoginAction()}" /> -->

        </ui:define>
    </ui:composition>

</html>